{% load static %}
<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
		<script src="{% static 'js/scripts.bundle.js' %}"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Page Vendors Javascript(used by this page)-->
		<script src="{% static 'plugins/custom/fslightbox/fslightbox.bundle.js' %}"></script>
		<script src="{% static 'plugins/custom/typedjs/typedjs.bundle.js' %}"></script>
		<!--end::Page Vendors Javascript-->
		<!--begin::Page Custom Javascript(used by this page)-->
		<script src="{% static 'js/custom/landing.js' %}"></script>
		<script src="{% static 'js/custom/pages/pricing/general.js' %}"></script>
		<script src="{% static 'assets/js/custom/authentication/sign-in/general.js' %}"></script>
		<!--end::Page Custom Javascript-->